* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Chivo, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: #121725;
}

h1 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 62px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #C2CBE5;
    opacity: 80%;
}

main {
    width: 90%;
    height: 640px;
    background: url(./assets/desktop/image-host.jpg) no-repeat right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    
}

#logo {
    position: relative;
    left: 0;
    top: -28px;
}

.text-box {
    width: 724px;
    height: 510px;
    background-color: #121725;
    position: absolute;
    bottom: 0;
    left: 0;
}


h1 {
    color: #FFFFFF;
    padding-top: 88px;
    margin-right: 58px;
    font-weight: 100;
}

.highlight {
    color: #54E6AF;
}

p {
    color: #C2CBE5;
    margin: 24px 278px 40px 0;
    font-weight: 100;
}


.form-wrapper {
    width: 427px;
    height: 56px;
    display: flex;
    align-items: center;
    position: relative;
}

#email {
    border: none;
    border-radius: 28px;
    background-color: #2C344B ;
    left: 0;
    flex-grow: 2;
    position: absolute;
    width: calc(427px - 32px);
    height: 56px;
    padding-left: 32px;
}


#email::placeholder {
    font-family: Chivo, sans-serif;
    color: #FFFFFF;
    opacity: 50%;
    font-size: 14px;
    line-height: 28px;
}

#email:enabled {
    outline: none;
    color: #FFFFFF;
    
}

#email:focus::placeholder {
    opacity: 1;
}

#submit {
    font-size: 14px;
    line-height: 28px;
    padding: 9px 27px;
    background-color: #54E6AF;
    border: none;
    border-radius: 28px;
    color: #121725;
    font-family: Chivo, sans-serif;
    font-weight: bold;
    position: absolute; 
    right: 5px;
    cursor: pointer;

}

#submit:hover {
    background-color: #B3FFE2;
}

#form-error {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: bold;
    line-height: auto;
    margin: 0;
    margin-left: 32px;
    visibility: hidden;
}

.logos {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75%;
    align-items: center;
    justify-content: space-between;
}

.logos img {
    height:fit-content;
    opacity: 80%;
    
}

.bg-pattern {
    position: absolute;
    right: 0;
    bottom: -8%;
    
}

.mobile-bg {
    display: none;
}


@media screen and (max-width:768px) {
    h1 {
        font-size: 48px;
        line-height: 56px;
        width: 100%;
    }

    main {
        width: 100%;
        background: url(./assets/tablet/image-host.jpg) no-repeat right top;
        background-size: cover;
        top: 0;
        right: 0;
        transform: none;
        height: 100%;
        
    }

    #logo {
        position: static;
        margin-top: 50px;
        margin-left: 40px;
    }

    .text-box {
        width: 635px;
        height: 510px;
        background-color: #121725;
        position: absolute;
        top: 50%;
        left: 40px;
        transform: translateY(-50%);

    }

    .bg-pattern {
        position: absolute;
        left: 30px;
        bottom: 0;
        
    }

}

@media screen and (max-width:425px) {

    main {
        width: 100%;
        height: 100vh;
        background: none;
        transform: none;

        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        
    }

    .mobile-bg {
        display: block;
        position: absolute;
        left:0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.1;
    }

    .bg-pattern {
        display: none;
    }

    #logo {
        margin: 0;
        margin-top: 62px;
  
        position: static;
    }

    .text-box {
        background: none;
        margin: 0;
        width: 100%;
        height: auto;
        text-align: center;
        position: static;
        transform: none;
    }

    h1 {
        font-size: 26px;
        line-height: 38px;
        margin: 58px 24px 0 24px;
        padding: 0;
        width: 80%;
    }

    p {
        font-size: 15px;
        line-height: 25px;
        width: 80%;
        margin: 16px 24px 32px;
    }

    .logos {
        margin: 0 30px;
        position: static;
        width: 80%;
        margin-bottom: 48px;
    }

    .form-wrapper {
        flex-direction: column;
        height: auto;
        width: 80%;
        margin: auto;
    }

    #email {
        position: static;
        height: 46px;
        width: 100%;

    }

    #submit {
        position: static;
        width: 110%;
        margin-top: 25px;
        padding: 10px 0;
    }

    .logos img {
        width: 20%;
    }


}